body {
    margin: 0;
    background: #80808012;
}
.divFiltres {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.divCheckbox {
    font-weight: bold;
    background: #0000ffa8;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.mapFilms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card {
    margin: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: white;
}
.title {
    font-weight: bold;
}
.jaugeLikesDislikes {
    height: 10px;
    width: 90%;
    margin-bottom: 15px;
}
.divLikesDislikes  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.like {
    color: #4caf50;
    height: 20px;
    cursor: pointer
}
.dislike {
    color: red;
    height: 20px;
    cursor: pointer;
}
.supprimer {
    margin-bottom: 20px;
    border: solid 0px;
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 25px;
    cursor: pointer;
}